
*.user
*.tlog
*.obj
*.log
.vs/Renderer/v14/.suo
*.idb
*.pdb
*.exe
*.ilk
*.opendb
Renderer.VC.db
Resources/test.jpg
.vs/Renderer/v15/.suo
.vs/Renderer/v15/Browse.VC.db
Resources/sponza_crytek_max_obj/sponza.obj1
Resources/sponza_crytek_max_obj/sponza.obj1
Extern/assimp-3.3.1/BUild/.vs/Assimp/v14/.suo
